//-----------------------------------------------------------------
// Space Out Resources
// RC Source - SpaceOut.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_SPACEOUT          ICON         "SpaceOut.ico"
IDI_SPACEOUT_SM       ICON         "SpaceOut_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_FIELD             BITMAP       "Field.bmp"
IDB_PLAYER            BITMAP       "Player.bmp"
IDB_BALL              BITMAP       "Ball.bmp"
IDB_OPPONENT          BITMAP       "Opponent.bmp"
IDB_RING              BITMAP       "Ring.bmp"
IDB_GAMEOVER          BITMAP       "GameOver.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------

IDW_GOAL              WAVE         "Goal.wav"
IDW_WHISTLE           WAVE         "Whistle.wav"
